{% extends 'base.html.twig' %}

{% block title %}Création d'une personne{% endblock %}

{% block body %}
<h1>Ajouter une personne</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="valider">
    {{ form_end(form) }}
{% endblock %}
